* {
    font-family: 'Poppins';
    font-style: normal;
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    justify-content: space-between;

    .left-block {
        width: 50%;
        background-color: rgba(226, 240, 255, 1);

        .img {
            background-image: url(../img/1.svg);
            background-size: contain;
            width: 525px;
            height: 400px;
            margin: 180px auto 55px auto;
            background-repeat: no-repeat;
        }

        .content {
            width: 400px;
            margin: auto auto 250px auto;

            h2 {
                font-size: 26px;
                font-weight: 600;
                text-align: center;
                color: #292731;
                margin-bottom: 23px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                color: #455360;
            }
        }
    }

    .right-block {
        width: 50%;
        background-color: #F5F5F5;

        .login-block {
            width: 440px;
            margin: 166px auto auto auto;

            .header {
                height: 132px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 62px;

                .smile {
                    background-image: url(../img/waving-hand.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 36px;
                    height: 36px;
                }

                h1 {
                    font-size: 30px;
                    font-weight: 600;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #292731;
                }
            }

            .form {
                position: relative;

                h3 {
                    font-size: 16px;
                    font-weight: 500;
                    color: #455360;
                    margin-bottom: 10px;
                }

                input {
                    font-size: 16px;
                    font-weight: 400;
                    padding: 12px 0 9px 22px;
                    margin-bottom: 30px;
                    width: 440px;
                    background: #ECF2F7;
                    border-radius: 5px;
                    border: none;
                }

                .sign,
                .login {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    color: #FFFFFF;
                    text-align: center;
                    width: 440px;
                    background: #4C70FF;
                    border-radius: 8px;
                    margin-top: 15px;
                    padding: 12px 0;
                    cursor: pointer;
                }

                .btn-login:hover,
                .btn-sign:hover {
                    background: #2e56f6;
                }

                .sign {
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                    margin-top: 20px;

                    a {
                        font-size: 16px;
                        font-weight: 500;
                        color: #67bce8;
                        text-decoration: none;
                        margin-left: 15px;
                        ;
                    }
                }
            }
        }
    }
}